@import "pygments.css";
p {
    font-size: 18px;
    line-height: 27px;
    margin: 12px 0;
}
a{
    color:#b71234;
    text-decoration: underline;
}
a:hover{
    color:#d87d85;
}
table {
    font-size:13px;
}
td.right, th.right {
    text-align:right;
}
td.center, th.center{
    text-align:center;
}
.content ol, .content ul {
    font-size: 18px;
    line-height: 27px;
    margin: 5px 0;
}
/* Header and nav */
header {
    padding: 5px 0 0 0 !important;
}
header a {
    text-decoration: none;
}
.red-border {
    border-bottom: solid 7px #b71234;
    height: 45px;
}
.section-select{
    width:100%;
    z-index: 100;
}
.affix{
    top:0px;
    width:100%;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #ba0a35;
    background-color: #fff;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px 8px 15px;
    border-radius:0px;
    color:#000;
}
.nav>li>a:hover {
    color:#fff;
    background-color:#ba0a35;
}
@media (max-width: 767px) {
    .nav-pills { padding-left: 10px; }
}
footer .red-border {
    height: 20px !important;
}
/* Post */
.post h1.title {
    margin-top: 15px;
}
.post h3.deckhead {
    margin-top: 10px;
}
.post .byline p, .post .pubdate p {
    font-size: 15px;
    line-height: 20px;
    margin: 4px 0;
}
.bigbox {
    background: transparent;
    text-align: center;
    padding:25px 0 0 0 !important;
}
.bigbox h1 {
/*display: inline-block;*/
}
.bigbox .logo {
    width: 100%;
    display: block;
}
.bigbox p {
    display: block;
    margin-top: 30px;
}
