@import "pygments.css";

ul.bullets li {
    font-size: 18px;
    line-height: 27px;
    padding: 4px 0;
}
table {
    font-size:13px;
}
td.right, th.right {
    text-align:right;
}
td.center, th.center{
    text-align:center;
}
.post ol, .post ul {
    font-size: 18px;
    line-height: 27px;
    margin: 5px 0;
    color: #7f7f7f;
}
.post li {
    margin: 8px 0;
}

img {
    max-width: 100%;
}

/* Post */
.post h1.title {
    margin-top: 15px;
}
.post .deckhead {
    margin-top: 10px;
    line-height:130%;
}
.post .deckhead p {
    color: #000;
}
.byline p, .pubdate p {
    font-size: 15px;
    line-height: 20px;
    margin: 4px 0;
    color: #000;
}
.bigbox {
    background: transparent;
    text-align: center;
    padding:25px 0 0 0 !important;
}
.bigbox h1 {
/*display: inline-block;*/
}
.bigbox .logo {
    width: 100%;
    display: block;
}
.bigbox p {
    display: block;
    margin-top: 30px;
    font-size: 22px;
    line-height: 30px;
}
hr {
    margin-bottom: 0;
}
.projectlist h2 {
    margin-bottom: 5px;
}
.projectitem {
    padding: 10px 0;
    border-bottom: 1px dotted #ddd;
}
.projectitem:last-child {
    border-bottom: none;
}
.projectitem h4 {
    font-size: 20px;
    margin-bottom: 0;
}
.projectlist p {
    margin: 8px 0;
}
@media (max-width: 767px) {
    .bigbox p { font-size: 16px; line-height:22px; }
    .projectlist p { font-size: 16px; line-height: 22px; }
}
figcaption {
    font-style: italic;
    font-size: 12px;
    text-align: right;
}
h3 {
    line-height:130%;
}
div.bio-item h4 {
    margin-bottom: 4px;
}
div.bio-item {
    font-size: 14px;
    margin: 8px 0;
}
div.bio-item .title,
div.bio-item .org {
    font-size: 15px;
}
div.bio-item .title,
div.bio-item .org,
div.bio-item .twitter,
div.bio-item .email {
    display: block;
    clear: both;
    padding: 1px 0;
}
div.bio-item .title {

}
div.bio-item .org {
    font-style: italic;
}
.quote {
    margin: 10px 0;
}
.quote .text {
    font-size: 125%;
    font-style: italic;
    padding-right: 3px;
}
.quote .attribution {
    text-align: right;
    display:inline;
}

body {
    font-family: Source Sans Pro;
    font-weight: 300;
}
header, footer {
    padding: 5px 0 0 0 !important;
}
section {
    margin-bottom: 60px;
}
p {
    font-size: 18px;
    color: #7f7f7f;
    margin: 12px 0;
}
a, a.btn-default{
    color:#ba0a35;
}
a:hover{
    color:#d87d85;
}
kbd {
    padding: 10px;
    border-radius: 0;
}
table {
    font-size: 13px;
}
th, td {
  padding: 2px;
}
th {
    background-color: #fefefe;
}
th[data-sort="int"]:hover, th[data-sort="currency"]:hover, th[data-sort="date"]:hover, th[data-sort="string"]:hover {
    cursor: pointer;
}

td.right, th.right {
    text-align:right;
}
td.center, th.center{
    text-align:center;
}

.bg-red {
    background-color: #ba0a35;
    color:  #fdfdfd;
}
.bg-red p {
    color:  #fdfdfd;
}
.red-border {
    border-bottom: solid 7px #ba0a35;
}

/* Buttons */
.btn-lg {
    font-size: 20px !important;
}
.btn-calaccess,
.btn-calaccess:focus {
    color: #ba0a35;
    background-color: #fff;
    border: 1px solid #ba0a35;
    border-radius: 0;
    font-size: 18px;
}
.btn-calaccess:hover,
.btn-calaccess.active {
    background-color: #ba0a35;
    color: #fdfdfd;
}
.btn-calaccess:hover i {
    color: #ba0a35;
}

/* Breadcrumbs */

.breadcrumb {
    padding: 10px;
    margin: 10px auto;
    border-radius: 0;
    background-color: #fff;
    list-style: none;
}
.breadcrumb>li>a {
    background-color: #ba0a35;
    color: #fff;
    padding: 2px 4px;
}
.align-right {
    float: right;
    text-align: right;
}

/* Navbar */
header {
    box-shadow: 0 1px 10px #D0D0D0;
    margin-bottom: 20px;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    border-bottom: 3px solid #ba0a35;
    background-color: #fff;
    color: #ba0a35;
    font-weight: 600;
}
.nav>li {
    width: 80px;
    text-align: center;
    margin: 10px 15px 8px 15px;
}
.nav>li>a {
    position: relative;
    display: block;
    border-radius:0px;
    color:#000;
    padding-left: 0;
    padding-right: 0;
}
.nav>li>a:hover {
    border-bottom: 3px solid #ba0a35;
    background-color:#fff;
}
.nav .logo {
    display:inline;
    padding-top:0;
    border-bottom: none !important;
}
.nav .logo:hover, .nav .logo:active, .nav .logo:focus {
    background:#fff;
    border-bottom: none;
}
.nav .logo img {
    margin-top: 5px;
}

.navbar-default .navbar-nav>li>a {
    color: #ba0a35;
}
.pagination>li>a, .pagination>li>span {
    color: #ba0a35;
}
.pagination>li>a:hover, .pagination>li>span:hover {
    color:#d87d85;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #ba0a35;
    border-color: #ba0a35;
}

/* Homepage */
.home h1 {
    font-size: 45px;
    font-weight: 600;
}
.home h2 {
    font-weight: 600;
}
.home .row {
    text-align: center;
    margin-bottom: 50px;
}
.home .home-card {
    height: 300px;
    background-color: #ba0a35;
    padding: 20px;
    margin: 0 auto;
}
.home .card-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.home .home-card i {
    font-size: 70px;
    margin-bottom: 20px;
}
.home .home-card p {
    color: #fdfdfd;
}

/* Version detail */
.filters {
    margin-top: 20px;
    margin-bottom: 30px;
}
.filters .btn {
    width: 120px;
}
.filters .dropdown-menu {
    cursor: pointer;
    font-size: 16px;
    border-radius: 0;
}
.file-card {
    border: 1px solid #a6a6a6;
    padding: 10px;
    margin: 10px auto 40px auto;
}
.file-card hr {
    margin: 5px 0;
}
.file-card h4 {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 600;
}
.file-card .lbl-group {
    margin-top: 5px;
    margin-bottom: 0;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}
.file-card .btn-download {
    margin-left: 15px;
}
.right-desktop {
    text-align: right;
}
.file-card .btn-download {
    margin-top: -10px;
}

.stats {
    margin: 10px 15px 10px 0;
    display: inline-block;
}
.stats h4, .stats p {
    color: #000;
    font-size: 14px;
    margin: 0;
}

/* Footer */
footer {
    text-align: center;
    background-color: #ba0a35;
    color: #fdfdfd;
    margin-top: 20px;
}
footer .row {
    padding: 10px;
}
footer img {
    width: 180px;
}
footer h3 {
    font-weight: 600;
    text-align: left;
}
footer ul {
    text-align: left;
    list-style: none;
    margin: 20px 0;
    padding: 0;
    font-size: 16px;
}
footer ul > li {
    margin: 10px auto;
}
footer a,
footer a:hover {
    color: #fdfdfd;
}
footer p {
    color: #fdfdfd;
    font-size: 14px;
    font-weight: 200;
}
footer p a {
    font-weight: 600;
}

@media only screen
and (max-width : 992px) {
    .align-right{
        float: left;
        text-align: left;
    }
    section {
        margin-bottom: 30px;
    }
    h2 {
        font-size: 28px;
    }

    .nav>li {
        width: 40px;
    }
    .nav .logo img {
        width: 45px;
        margin-top: 10px;
    }
}