---
title: The California Civic Data Coalition
---


<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="Wrn_UnGhY-K8HHXWOvf1M4QzJzMunfVw3xf53COsRqk" />
    <meta name="google-site-verification" content="1MJfPV2nZsvBVtOk-sT802t7WujVPJpLYxg-OwXoNjg" />
    <link rel="icon" type="image/png" href="http://www.californiacivicdata.org/favicon.png">

    <title>California Civic Data Coalition</title>
    <meta name="description" content="An open-source team of journalists and computer programmers from news organizations across America.">

    <meta property="og:site_name" content="calaccess.californiacivicdata.org"/>
    <meta property="og:title" content="California Civic Data Coalition"/>
    <meta property="og:description" content="An open-source team of journalists and computer programmers from news organizations across America."/>
    <meta property="og:url" content="http://calaccess.californiacivicdata.org/index.html" />
    <meta property="og:image" content="http://calaccess.californiacivicdata.org/static/calaccess_website/images/brown-bear-share.png"/>

    <meta property="twitter:site" content="@cacivicdata">
    <meta property="twitter:title" content="California Civic Data Coalition">
    <meta property="twitter:description" content="An open-source team of journalists and computer programmers from news organizations across America."/>
    <meta property="twitter:url" content="http://calaccess.californiacivicdata.org/index.html" />
    <meta property="twitter:image:src" content="http://calaccess.californiacivicdata.org/static/calaccess_website/images/brown-bear-share.png">
    <meta property="twitter:card" content="summary_large_image">


    <link rel="stylesheet" type="text/css" href="http://calaccess.californiacivicdata.org/static/calaccess_website/css/sourcesanspro.css">
    <link rel="stylesheet" type="text/css" href="http://calaccess.californiacivicdata.org/static/calaccess_website/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
    <script type="text/javascript" src="http://calaccess.californiacivicdata.org/static/calaccess_website/js/jquery.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55129934-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body >

  {% include header.html %}

<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <h1>Download California campaign finance data with ease</h1>
                <p class="lead">
                    An open-source archive serving up daily downloads from
                    CAL-ACCESS, California's database tracking money in state politics. <a href="http://www.californiacivicdata.org/2016/09/15/website-launch/">Learn more &raquo;</a>
                </p>
                <a href="http://calaccess.californiacivicdata.org/downloads/latest/" class="btn btn-calaccess btn-lg" role="button">
                    Download latest data
                </a>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <img src="http://calaccess.californiacivicdata.org/static/calaccess_website/images/brown-geobear.svg"
                     alt="California Civic Data Coalition logo"
                     title="California Civic Data Coalition logo">
            </div>
        </div>
    </div>
</section>
<article class="home homepage">
<div class="container">
    <section class="row boxes">
        <div class="col-md-10 col-md-offset-1 md-center">
            <div class="row">
                <section class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <a class="home-card-link" href="http://calaccess.californiacivicdata.org/downloads/latest/">
                        <div class="home-card">
                            <div class="card-container">
                                <h2>Downloads</h2>
                                <i class="fa fa-database" aria-hidden="true"></i>
                                <p>
                                    Grab the latest data and get started.
                                </p>
                            </div>
                        </div>
                    </a>
                </section>
                <section class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <a href="http://calaccess.californiacivicdata.org/documentation/">
                        <div class="home-card">
                            <div class="card-container">
                                <h2>Documentation</h2>
                                <i class="fa fa-files-o" aria-hidden="true"></i>
                                <p>Learn how to work with data from CAL-ACCESS.</p>
                            </div>
                        </div>
                    </a>
                </section>
                <section class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1">
                    <a href="https://github.com/california-civic-data-coalition/">
                        <div class="home-card">
                            <div class="card-container">
                                <h2>Code</h2>
                                <i class="fa fa-code" aria-hidden="true"></i>
                                <p>Improve our open source on GitHub.</p>
                            </div>
                        </div>
                    </a>
                </section>
            </div>
        </div>
    </section>

    <section class="row questions">
        <div class="col-md-6 col-md-offset-3 xs-left md-center">
            <section class="row question who-are-we">
                <div class="col-md-12">
                    <h2>Who are we?</h2>
                    <p>
                         The California Civic Data Coalition is an open-source team of journalists and computer programmers from news organizations across America.
                         <a href="http://www.californiacivicdata.org/about/">Read more &raquo;</a>
                    </p>
                </div>
            </section>
            <section class="row question what-do-we-do">
                <div class="col-md-12">
                    <h2>What do we do?</h2>
                    <p>
                         We create software that makes California's public data easier to analyze.
                         Our current focus is CAL-ACCESS, the database tracking money in state politics.
                         <a href="http://calaccess.californiacivicdata.org/downloads/latest/">Download and get started &raquo;</a>
                    </p>
                </div>
            </section>
            <section class="row question how-can-you-get-involved">
                <div class="col-md-12">
                    <h2>How can you get involved?</h2>
                    <p>
                        Hundreds of journalists at dozens of news outlets have joined our effort.
                        We want you to be next. Fork us on <a href="https://github.com/california-civic-data-coalition">GitHub</a>,
                        send an <a href="mailto:californiacivicdata@gmail.com">e-mail</a> or
                        join our <a href="https://newsnerdery.slack.com/messages/california-civic-data/">Slack</a>.
                    </p>
                </div>
            </section>
        </div>

        <section class="col-md-12 xs-left md-center question no-border sponsors">
            <div class="funders row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Who are our sponsors?</h2>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <a href="http://www.knightfoundation.org/">
                                <img src="http://calaccess.californiacivicdata.org/static/calaccess_website/images/knight-logo-3000px-black.jpg"
                                     alt="Knight Foundation logo"
                                     title="Knight Foundation logo">
                            </a>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <a href="http://www.ire.org/">
                                <img src="http://calaccess.californiacivicdata.org/static/calaccess_website/images/ire.png"
                                     alt="Investigative Reporters and Editors logo"
                                     title="Investigative Reporters and Editors logo">
                            </a>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <a href="https://opennews.org/">
                                <img src="http://calaccess.californiacivicdata.org/static/calaccess_website/images/opennews.png"
                                     alt="OpenNews logo"
                                     title="OpenNews logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="leaders row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <a href="http://www.latimes.com/">
                                <img src="http://calaccess.californiacivicdata.org/static/calaccess_website/images/latimes.png"
                                     alt="Los Angeles Times logo"
                                     title="Los Angeles Times logo">
                            </a>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <a href="http://cjlab.stanford.edu/">
                                <img src="http://calaccess.californiacivicdata.org/static/calaccess_website/images/stanford.png"
                                     alt="Stanford logo"
                                     title="Stanford logo">
                            </a>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-sm-4 col-xs-6">
                            <a href="https://www.revealnews.org/">
                                <img src="http://calaccess.californiacivicdata.org/static/calaccess_website/images/reveal.jpg"
                                     alt="Reveal logo"
                                     title="Reveal logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
</article>

    {% include footer.html %}

     <script src="http://calaccess.californiacivicdata.org/static/calaccess_website/js/bootstrap.js"></script>
      <script src="http://calaccess.californiacivicdata.org/static/calaccess_website/js/underscore-min.js"></script>
      
<script type="text/javascript">
// Filter logic
$('.dropdown-menu a').click(function() {
    $('#filterDropdown').html($(this).html() + ' <span class="caret"></span>');
    $('.file-card').removeClass('hidden');
    var group = $(this).data('group');
    if (group != 'all') {
      $('.file-card:not(.' + group + ')').addClass('hidden');
    }
});
</script>
<script type="text/javascript">
  $('body').scrollspy({ target: '#affix-nav'});
  $('#affix-nav').affix({
    offset: {
      top: function () {
        return (this.top = $('.affix-container').position()['top'])
      },
      bottom: function () {
        return (this.bottom = $('.footer').outerHeight(true))
      }
    }
  });
</script>

  </body>
</html>
