<footer class="footer" aria-label="Footer">
  <nav class="container">
    <div class="row icon">
      <a href="http://www.californiacivicdata.org/">
        <img src="http://calaccess.californiacivicdata.org/static/calaccess_website/images/white-geobear.svg"
             alt="California Civic Data Coalition logo">
      </a>
    </div>
    <div class="row">
      <section class="col-md-2 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
        <h3>CAL-ACCESS</h3>
        <ul>
            <li><a href="http://calaccess.californiacivicdata.org/downloads/latest/">Latest downloads</a></li>
            <li><a href="http://calaccess.californiacivicdata.org/downloads/">Downloads archive</a></li>
            <li><a href="http://calaccess.californiacivicdata.org/documentation/">Documentation</a></li>
        </ul>
      </section>
      <section class="col-md-2 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-4 col-xs-offset-2">
        <h3>Blog</h3>
        <ul>
          <li><a href="http://www.californiacivicdata.org/archive/">All posts</a></li>
          <li><a href="http://www.californiacivicdata.org/archive/latest.xml">RSS</a></li>
        </ul>
      </section>
      <div class="clearfix visible-xs"></div>
      <section class="col-md-2 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-5 col-xs-offset-1">
        <h3>About</h3>
        <ul>
          <li><a href="http://www.californiacivicdata.org/about/">Our story</a></li>
          <li><a href="http://www.californiacivicdata.org/about/#team">The team</a></li>
          <li><a href="http://www.californiacivicdata.org/about/#events">Events</a></li>
          <li><a href="http://www.californiacivicdata.org/about/#what-others-are-saying">What others are saying</a></li>
        </ul>
      </section>
      <section class="col-md-2 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-4 col-xs-offset-2">
        <h3>Contact</h3>
        <ul>
          <li><a href="mailto:cacivicdata@gmail.com">E-mail</a></li>
          <li><a href="https://github.com/california-civic-data-coalition">GitHub</a></li>
          <li><a href="https://twitter.com/cacivicdata">Twitter</a></li>
          <li><a href="https://newsnerdery.slack.com/messages/california-civic-data/">Slack</a></li>
          <li><a href="http://webchat.freenode.net/?channels=californiacivicdata">Freenode IRC</a></li>
        </ul>
      </section>
    </div>
    <section class="row xs-left">
      <p>
        &copy; <span class="easteregg"><a href="https://www.youtube.com/watch?v=wPsA3TsK1Uk">2016 'til infinity</a></span>
        <span><a href="http://www.californiacivicdata.org/">California Civic Data Coalition</a>.</span>
        <span><span class="easteregg"><a href="https://en.wikipedia.org/wiki/Gratis_versus_libre">Gratis, libre and fermented</a></span> on <a href="https://github.com/california-civic-data-coalition/">GitHub</a>.</span>
        <span class="easteregg"><a href="https://www.youtube.com/watch?v=wKgGXxoT5Ds">Westside right on time only thing fosho</a>.</span>
      </p>
    </section>
  </nav>
</footer>
