<footer>
  <div class="container">
    <div class="row icon">
      <a href="http://www.californiacivicdata.org/"><img src="/img/bear_grass.png" alt="California bear"></a>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-6">
        <h3>Projects</h3>
        <ul>
          <li><a href="http://django-calaccess.californiacivicdata.org/en/latest/">django-calaccess</a></li>
          <li><a href="http://django-postgres-copy.californiacivicdata.org/en/latest/">django-postgres-copy</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-6">
        <h3>Blog</h3>
        <ul>
          <li><a href="/archive/">All posts</a></li>
          <li><a href="/archive/latest.xml">RSS</a></li>
        </ul>
      </div>
      <div class="clearfix visible-xs"></div>
      <div class="col-md-2 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-6">
        <h3>About</h3>
        <ul>
          <li><a href="/about/">Our story</a></li>
          <li><a href="/about/#team">The team</a></li>
          <li><a href="/about/#events">Events</a></li>
          <li><a href="/about/#what-others-are-saying">What others are saying</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-6">
        <h3>Contact</h3>
        <ul>
          <li><a href="mailto:cacivicdata@gmail.com">Email</a></li>
          <li><a href="https://github.com/california-civic-data-coalition">GitHub</a></li>
          <li><a href="https://twitter.com/cacivicdata">Twitter</a></li>
          <li><a href="https://newsnerdery.slack.com/messages/california-civic-data/">Slack</a></li>
          <li><a href="http://webchat.freenode.net/?channels=californiacivicdata">Freenode IRC</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <p>
        &copy; <span class="easteregg"><a href="https://www.youtube.com/watch?v=wPsA3TsK1Uk">2016 'til infinity</a></span>
        <span><a href="http://www.californiacivicdata.org/">California Civic Data Coalition</a>.</span>
        <span><span class="easteregg"></span><a href="https://en.wikipedia.org/wiki/Gratis_versus_libre"></a>Gratis, libre and fermented</a></span> on <a href="https://github.com/california-civic-data-coalition/">GitHub</a>.</span>
        <span class="easteregg"><a href="https://www.youtube.com/watch?v=wKgGXxoT5Ds">Westside right on time only thing fosho</a>.</span>
      </p>
    </div>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55129934-1', 'auto');
  ga('send', 'pageview');

</script>
