<header>
  <nav class="container">
    <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li class="visible-lg-inline visible-md-inline visible-sm-inline invisible-xs-inline" style="margin-left:0;">
            <a class="logo" href="http://www.californiacivicdata.org/">
                <img
                    src="http://calaccess.californiacivicdata.org/static/calaccess_website/images/brown-geobear.svg"
                    alt="California Civic Data Coalition logo"
                    title="Home"
                >
            </a>
        </li>
        <li id="home"><a href="/">HOME</a></li>
        <li id="data"><a href="http://calaccess.californiacivicdata.org/downloads/latest/">DATA</a></li>
        <li id="docs"><a href="http://calaccess.californiacivicdata.org/documentation/">DOCS</a></li>
        <li id="blog"><a href="/archive/">BLOG</a></li>
        <li id="about"><a href="/about/">ABOUT</a></li>
      </ul>
    </div>
    </div>
  </nav>
</header>

<script type="text/javascript">
    var url = window.location;
    // Will only work if string in href matches with location
    $('ul.nav a[href="' + url + '"]').parent().addClass('active');
    // Will also work for relative and absolute hrefs
    $('ul.nav a').filter(function() {
        return this.href == url;
    }).parent().addClass('active');
    $("#small-icon").css("cursor", "pointer");
    $("#small-icon").click(function () {
        window.location = '/';
    });
</script>
