<header class="container">
<div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
      <ul class="nav nav-pills red-border">
        <li>
            <img height='38px' src="/img/bear-no-red-line.png" alt="California Civic Data Coalition">
        </li>
        <li>
            <a href="/"><i class="fa fa-info-circle"></i> About <span class="hidden-sm hidden-xs">CCDC</span></a>
        </li>
        <li>
            <a href="/archive/"><i class="fa fa-pencil"></i> Posts</a>
        </li>
        <li class="hidden-xs">
            <a href="https://github.com/california-civic-data-coalition/">
                <i class="fa fa-github"></i> Github
            </a>
        </li>
      </ul>
    </div>
</div>
</header>

<script type="text/javascript">
    var url = window.location;
    // Will only work if string in href matches with location
    $('ul.nav a[href="' + url + '"]').parent().addClass('active');
    // Will also work for relative and absolute hrefs
    $('ul.nav a').filter(function() {
        return this.href == url;
    }).parent().addClass('active');
</script>
