<header>
  <div class="container">
    <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li style="margin-left:0;">
            <a class="logo" href="http://www.californiacivicdata.org/"><img src="/img/bear-no-red-line.png" %}" alt=""></a>
        </li>
        <li><a href="/">HOME</a></li>
        <li><a href="http://calaccess.californiacivicdata.org/">DATA</a></li>
        <li><a href="/archive/">BLOG</a></li>
        <li><a href="/about/">ABOUT</a></li>
      </ul>
    </div>
    </div>
  </div>
</header>

<script type="text/javascript">
    var url = window.location;
    // Will only work if string in href matches with location
    $('ul.nav a[href="' + url + '"]').parent().addClass('active');
    // Will also work for relative and absolute hrefs
    $('ul.nav a').filter(function() {
        return this.href == url;
    }).parent().addClass('active');
    $("#small-icon").css("cursor", "pointer");
    $("#small-icon").click(function () {
        window.location = '/';
    });
</script>