---
layout: default
title: About - The California Civic Data Coalition
permalink: /about/
developers:
  - name: James Gordon
    url: http://www.californiacivicdata.org/2016/01/04/james-gordon/
    image: /img/james-gordon.jpg
    twitter: je_gordon
    email: gordon.je@gmail.com
leaders:
  - name: Jennifer LaFleur
    url: https://www.revealnews.org/author/jennifer-lafleur/
    image: /img/jennifer-lafleur.jpg
    title: Senior Editor, Data Journalism
    organization: "Reveal and The Center for Investigative Reporting"
    twitter: j_la28
    email: jlafleur@cironline.org
  - name: Cheryl Phillips
    url: https://comm.stanford.edu/faculty-phillips/
    image: /img/cheryl-phillips.jpg
    title: Hearst Professional in Residence
    organization: Stanford University
    twitter: cephillips
    email: cep3@stanford.edu
  - name: Ben Welsh
    url: http://palewi.re/who-is-ben-welsh/
    image: /img/ben-welsh.jpg
    title: Editor, Data Desk
    organization: Los Angeles Times
    twitter: palewire
    email: ben.welsh@gmail.com
  - name: Aaron Williams
    url: https://www.acwx.net/
    image: /img/aaron-williams.jpg
    title: Graphics reporter
    organization: The Washington Post
    twitter: aboutaaron
    email: aaron.colby.williams@gmail.com
---

<section>
    <h1 style="margin-bottom:25px;">About</h1>

    <p>
        The California Civic Data Coalition is a loosely coupled team
        from the Los Angeles Times Data Desk,
        the San Francisco Chronicle,
        The Center for Investigative Reporting and
        Stanford's Computational Journalism Lab.
    </p>

    <p>
        The coalition was formed in 2014 by Ben Welsh
        and Agustin Armendariz to lead the development of open-source software
        that makes California's public data easier to access
        and analyze. The effort has drawn hundreds of contributions
        from developers and journalists at dozens of competing news outlets.
    </p>

    <p>
        Our primary focus is refining <a href="http://cal-access.ss.ca.gov/">CAL-ACCESS</a>, the
        jumbled, dirty and difficult government database that tracks
        campaign finance and lobbying activity in California politics.
    </p>

    <p>
        In 2015 the coalition was named a winner of the <a href="/2015/07/22/knight-news-challenge/">Knight News Challenge</a> and awarded $250,000 in philanthropic funding
        from the Knight Foundation, the Democracy Fund, the William and Flora Hewlett Foundation and the Rita Allen Foundation.
    </p>
</section>

<section>
    <h3>Leadership</h3>

    <div class="row">
    {% for obj in page.leaders %}
        <div class="bio-item col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <img alt="{{ obj.name }}" title="{{ obj.name }}" src="{{ obj.image }}">
            <h4><a href="{{ obj.url }}">{{ obj.name }}</a></h4>
            <span class="bio-metadata">
                <span class="title">{{ obj.title }}</span>
                <span class="org">{{ obj.organization }}</span>
                <span class="twitter">
                    <a href="http://twitter.com/{{ obj.twitter }}">
                        @{{ obj.twitter }}
                    </a>
                </span>
                <span class="email">
                    <a href="mailto:{{ obj.email }}">{{ obj.email }}</a>
                </span>
            </span>
        </div>
        {% if forloop.index == 2 %}
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        {% endif %}
    {% endfor %}
    </div>
</section>

<section>
    <h3>Lead developer</h3>

    <div class="row">
    {% for obj in page.developers %}
        <div class="bio-item col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <img alt="{{ obj.name }}" title="{{ obj.name }}" src="{{ obj.image }}">
            <h4><a href="{{ obj.url }}">{{ obj.name }}</a></h4>
            <span class="bio-metadata">
                <span class="twitter">
                    <a href="http://twitter.com/{{ obj.twitter }}">
                        @{{ obj.twitter }}
                    </a>
                </span>
                <span class="email">
                    <a href="mailto:{{ obj.email }}">{{ obj.email }}</a>
                </span>
            </span>
        </div>
        {% if forloop.index == 2 %}
        <div class="clearfix visible-xs-block visible-sm-block"></div>
        {% endif %}
    {% endfor %}
    </div>
</section>

<section>
    <h3>Contact</h3>
    <ul class="bullets">
        <li>Email: <a href="mailto:cacivicdata@gmail.com">cacivicdata@gmail.com</a></li>
        <li>GitHub: <a href="https://github.com/california-civic-data-coalition">california-civic-data-coalition</a></li>
        <li>Twitter: <a href="http://www.twitter.com/cacivicdata">@cacivicdata</a></li>
        <li>Slack: <a href="http://newsnerdery.org/">News Nerdery's</a> <a href="https://newsnerdery.slack.com/messages/california-civic-data/">#california-civic-data</a>
        <li>Freenode IRC: <a href="http://webchat.freenode.net/?channels=californiacivicdata">#californiacivicdata</a></li>
    </ul>

</section>

<section>
    <h3>Events</h3>

    <p>
        Development has been advanced by a series of code sprints
        supported by <a href="http://opennews.org/">Knight-Mozilla OpenNews</a>.
    </p>

    <ul class="bullets">
        <li>2014.08: <a href="https://source.opennews.org/en-US/articles/introducing-california-civic-data-coalition/">OpenNews Convening (San Francisco)</a></li>
        <li>2015.01: <a href="http://www.californiacivicdata.org/2015/02/17/opennews-scrapers/">OpenNews Bootcamp (USC)</a></li>
        <li>2015.03: <a href="http://www.californiacivicdata.org/2015/03/11/code-rush-recap/">California Code Rush I (NICAR Atlanta)</a></li>
        <li>2015.08: <a href="http://www.californiacivicdata.org/2015/09/01/code-rush-2-recap/">California Code Rush II (Media Party Buenos Aires)</a></a></li>
        <li>2015.09: <a href="http://www.californiacivicdata.org/2015/10/04/code-rush-3-recap/">California Code Rush III (ONA Los Angeles)</a></a></li>
    </ul>
</section>

<section>
    <h3>What others are saying</h3>
    <div class="quote">
        <span class="text">
            &ldquo;A terrific idea.&rdquo;
        </span>
        <span class="attribution">
            <a href="http://www.huffingtonpost.com/entry/knight-news-challenge-awards_55afc537e4b08f57d5d33e11">The Huffington Post</a>
        </span>
    </div>

    <div class="quote">
        <span class="text">
            &ldquo;This is important work.&rdquo;
        </span>
        <span class="attribution">
            <a href="http://www.sacbee.com/opinion/opn-columns-blogs/joyce-terhaar/article31239362.html">Joyce Terhaar, Executive Editor, Sacramento Bee</a>
        </span>
    </div>

    <div class="quote">
        <span class="text">
            &ldquo;Turns ugly government data into something useful for reporters.&rdquo;
        </span>
        <span class="attribution">
            <a href="http://opennews.org/blog/fellowship-onboarding-ccdc/">Ryan Pitts, OpenNews</a>
        </span>
    </div>
    <div class="quote">
        <span class="text">
            &ldquo;These folks are the best in the business.&rdquo;
        </span>
        <span class="attribution">
            <a href="https://twitter.com/brianboyer/status/624364569889214466">Brian Boyer, Editor, NPR Visuals</a>
        </span>
    </div>
    <div class="quote">
        <span class="text">
            &ldquo;Great stuff.&rdquo;
        </span>
        <span class="attribution">
            <a href="https://twitter.com/EllnMllr/status/524932919643484160">Ellen Miller, Co-Founder, Sunlight Foundation</a>
        </span>
    </div>
</section>
