<!doctype HTML>
<html lang="en">
<head>
    {% include head.html %}
    <meta property="og:site_name" content="www.californiacivicdata.org"/>
    <meta property="og:title" content="California Civic Data Coalition"/>
    <meta property="og:image" content="http://calaccess.californiacivicdata.org/static/calaccess_website/images/brown-bear-share.png"/>
    <meta property="og:description" content="A loosely coupled team from the Los Angeles Times Data Desk,
        The Center for Investigative Reporting and Stanford's Computational
        Journalism Lab"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="http://calaccess.californiacivicdata.org/static/calaccess_website/images/brown-bear-share.png">
    <meta name="twitter:site" content="@latimes">
    <meta name="twitter:title" content="California Civic Data Coalition">
    <meta name="twitter:description" content="A loosely coupled team from the Los Angeles Times Data Desk,
        The Center for Investigative Reporting and Stanford's Computational
        Journalism Lab"/>

    <link rel="image_src" type="image/jpeg" href="http://calaccess.californiacivicdata.org/static/calaccess_website/images/brown-bear-share.png" />
</head>
<body>
    {% include header.html %}
    <article>
        {{ content }}
    </article>
    {% include footer.html %}
</body>
</html>
