<!doctype HTML>
<html lang="en">
<head>
    {% include head.html %}
    <meta name="date" content="{{ page.date }}" />

    <meta property="og:site_name" content="www.californiacivicdata.org"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}/img/logo.png{% endif %}"/>
    <meta property="og:description" content="{{ page.deckhead }}"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="{% if page.image %}{{ page.image }}{% else %}/img/logo.png{% endif %}">
    <meta name="twitter:site" content="@latimes">
    <meta name="twitter:title" content="{{ object.title }}">
    <meta name="twitter:description" content="{{ page.deckhead }}"/>

    <link rel="image_src" type="image/jpeg" href="{% if page.image %}{{ page.image }}{% else %}/img/logo.png{% endif %}" />
</head>
<body>
    {% include header.html %}
    <div class="container content">
        <div class="row">
            <div class="post col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
            <article>
                <h1 class="title">{{ page.title }}</h1>
                <h3 class="deckhead">{{ page.deckhead }}</h3>
                <div class="byline">{{ page.byline|markdownify }}</div>
                <div class="pubdate"><p><time datetime="{{ page.date|date:"%Y-%m-%d" }}">{{ page.date|date:"%B %e, %Y" }}</time></p></div>
                {{ content }}
            </article>
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
